## Data Pre-Processing

In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
data = pd.read_csv("./data/processed/02_eda_data.csv")

In [3]:
data.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [4]:
## these are the features with nan value
features_with_na=[features for features in data.columns if data[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(data[feature].isnull().mean()*100,5), '% missing values')
features_with_na

[]

In [5]:
# Check duplicate values
data.duplicated().sum()

0

In [6]:
data.drop('case_id', inplace=True, axis=1)

In [7]:
data.to_csv("./data/processed/04_preprocessed_data.csv", index=False)